<div ng-app="yoKartApp" class="container">

  <div class="list-group" ng-controller="MainCtrl as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">YoKart's Imported Toys</h1>

      <h2 class="text-center">– Children store –</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <!-- Image Gallery  -->
      <div ng-controller="GalleryController as gallery" ng-show="product.images.length">
        <img ng-src="{{product.images[gallery.current]}}"/>
      </div>

      <!-- Product Tabs -->
      <product-tabs></product-tabs>
    </div>
  </div>

</div>
