<div class="container-fluid" ng-controller="MainCtrl as store">
    <div class="row-fluid">
      <div class="span8">
        <button
          class="btn btn-block"
          onclick="window.location.href='#/'">
          <i class="glyphicon glyphicon-arrow-left" /> back to store
        </button>
      </div>

      <div class="span8">

            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty store.yoKart message -->
                <tr ng-hide="store.yoKart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your shopping cart is empty!
                    </td>
                </tr>

                <!-- store.yoKart items -->
                <tr ng-repeat="item in store.yoKart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                      <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input
                            class="span3 text-center" type="tel"
                            ng-model="item.quantity"
                            ng-change="store.yoKart.saveItems()" />
                        <button
                            class="btn btn-success" type="button"
                            ng-disabled="item.quantity >= 1000"
                            ng-click="store.yoKart.addItem(item.toyId, item.name, item.price, +1)">+</button>
                        <button
                            class="btn btn-inverse" type="button"
                            ng-disabled="item.quantity <= 1"
                            ng-click="store.yoKart.addItem(item.toyId, item.name, item.price, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from item from your cart">
                        <a href="" ng-click="store.yoKart.addItem(item.toyId, item.name, item.price, -10000000)" >
                            <i class="glyphicon glyphicon-remove" />
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{store.yoKart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{store.yoKart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <p class="text-info">

                <button
                    class="btn btn-block btn-danger"
                    ng-click="store.yoKart.clearItems()"
                    ng-disabled="store.yoKart.getTotalCount() < 1" >
                    <i class="glyphicon glyphicon-trash"> Clear Cart</i>
                </button>
            </p>
            <br />
            <p class="text-info">
                <button
                    class="btn btn-block btn-primary"
                    ng-click="store.go('#/')"
                    ng-disabled="store.yoKart.getTotalCount() < 1">
                    <i class="glyphicon glyphicon-ok" /> Place Order
                </button>
            </p>

            <br /><br />
        </div>
    </div>
</div>
